<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/database.css" />
</head>

<body>

<%- include ("../partials/nav.ejs") %>


<div class ="timesocket">
  <%- include ("../partials/sockettime.ejs") %>
</div>

<hr>
<%- include ("../partials/expenditure.ejs") %>

</body>
</html>
